mixin title(name)
  .block__ads-top
    .block__ads-title= name
    .block__ads-link 
      a Все объявления
        include ../icons/dropdown-right.svg

mixin file(name, typelink)
  li
    a.l-file(href="#") 
      img.l-file-types(src=typelink, alt="PNG")
      .l-file-content
        span.l-file-name #{name}
        span.l-file-size (82.1 Kb)
