extends ../layouts/static.pug

block page-vars
  - var title = 'Кафедра специального фортепиано';
  - var sidebar = true;

block page-content
  .l-leadership
    include ../components/leadership
  .l-leadership-detail
    include ../components/detail-leadership
