extends ../layouts/default.pug

include ../components/mixins/mixin

block page-main
  include ../components/slider-main

  include ../components/index-cards

  include ../components/index-news

  include ../components/index-ads
 
 .dad
