extends ../layouts/default.pug

include ../components/mixins/mixin

block page-main
  .l-container
    .block__ads
      +title ('Объявления')
      .block__ads-main
        .block__ads__main-descr
          .block__ads__main-title Итоги Международного конкурса «Надежда»
          .block__ads__main-text 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие XII Международного музыкально-театрального конкурса-фестиваля «Надежда». На церемонии закрытия были объявлены имена лауреатов и дипломантов номинации...
          a.block__ads__main-button(href="#") Подробнее
          
        .block__ads__main-img
          a
            img(src="/images/main.jpg")
      
      .block__ads-row
          .block__ads-card
            .block__ads__card-img 
              a
                img(src="/images/card.jpg")
              .block__ads__card-descr 
                a.block__ads__card-title Lorem ipsum dolor sit amet
                .block__ads__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          
          .block__ads-card
            .block__ads__card-img 
              a
                img(src="/images/card.jpg")
              .block__ads__card-descr
                a.block__ads__card-title Lorem ipsum dolor sit amet
                .block__ads__card-text Lorem idwadpsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        
          .block__ads-card
            .block__ads__card-img 
              a
                img(src="/images/card.jpg")
              .block__ads__card-descr
                a.block__ads__card-title Lorem ipsum dolor sit amet
                .block__ads__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      
      .block__ads-row-mobile
        .block__ads-card-mobile
          .block__ads__card-img-mobile
            a
              img(src="/images/card.jpg")
            .block__ads__card-descr-mobile 
              a.block__ads__card-title-mobile Lorem ipsum dolor sit amet
              .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        
        .block__ads-card-mobile
          .block__ads__card-img-mobile
            a
              img(src="/images/card.jpg")
            .block__ads__card-descr-mobile 
              a.block__ads__card-title-mobile Lorem ipsum dolor sit amet
              .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
      
        .block__ads-card-mobile
          .block__ads__card-img-mobile
            a
              img(src="/images/card.jpg")
            .block__ads__card-descr-mobile 
              a.block__ads__card-title-mobile Lorem ipsum dolor sit amet
              .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        
      
      .block__ads-link-mobile 
        a Все объявления
          include ../components/icons/dropdown-right.svg
                     
                                    
      .block__ads-descr
        .block__ads-descr-left
          .block__ads__descr-title Высшая школа музыки Республики Саха (Якутия)
          .block__ads__descr-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          a.block__ads__descr-button(href="#") Узнать больше
        .block__ads-descr-right
          .block__ads__descr-img
            a
              picture
                source(media="(max-width: 960px)" srcset="/images/descr.jpg")
                img(src="/images/descr.jpg")
      
      .block__ads-descr-mobile
        .block__ads__descr-title Высшая школа музыки Республики Саха (Якутия)
        .block__ads-descr-right
          .block__ads__descr-img
            a
              picture
                source(media="(max-width: 960px)" srcset="/images/descr.jpg")
                img(src="/images/descr.jpg")
      
        .block__ads-descr-left
          .block__ads__descr-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          a.block__ads__descr-button(href="#") Узнать больше
        
      
      
      
