extends ../layouts/default.pug

include ../components/mixins/mixin

block page-main
  .l-container-banner
    section.banner
      .block__banner
        .banner-slider
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .banner__slide
                  picture
                    source(srcset="https://via.placeholder.com/960x500" media="(max-width: 960px)")
                    source(srcset="https://via.placeholder.com/425x425" media="(max-width: 450px)")
                    img(src="https://via.placeholder.com/1440x500")
                  .banner__slide-title 
                    span Сетевой город 
                  .banner__slide-descr
                    span Сетевой Город. Образование
                  a(href="#")
                    .banner__slide-button Перейти на сайт
                    
              .swiper-slide
                .banner__slide
                  picture
                    source(srcset="https://via.placeholder.com/960x500" media="(max-width: 960px)")
                    source(srcset="https://via.placeholder.com/425" media="(max-width: 425px)")
                    img(src="https://via.placeholder.com/1440x500")
                  .banner__slide-title 
                    span Сетевой город
                  .banner__slide-descr
                    span Сетевой Город. Образование
                  a(href="#")
                    .banner__slide-button Перейти на сайт
            .swiper-pagination
              
  .l-container-bg
    .l-container                        
      section.info_cards
        .block__info
          .block__info-row
            .block__info-card
              .block__card-img
                include ../components/icons/boy.svg
              .block__card-title
                span Абитуриентам
              .block__card-text
                .block__card-link 
                  a(href="#") Приемная комиссия
                .block__card-link 
                  a(href="#") Документы и справки
                .block__card-link 
                  a(href="#") Поступи онлайн
              a(href="#").block__card-button
                span Подробнее
            
            .block__info-card
              .block__card-img
                include ../components/icons/graduated.svg
              .block__card-title
                span Студентам
              .block__card-text
                .block__card-link 
                  a(href="#") Расписание
                .block__card-link 
                  a(href="#") Электронные учебники
                .block__card-link 
                  a(href="#") Студенческий совет
              a(href="#").block__card-button
                span Подробнее
            
            .block__info-card
              .block__card-img
                include ../components/icons/boss.svg
              .block__card-title
                span Сотрудникам
              .block__card-text
                .block__card-link 
                  a(href="#") Ученый совет
                .block__card-link 
                  a(href="#") Повышение квалификации
                .block__card-link 
                  a(href="#") Документы
              a(href="#").block__card-button
                span Подробнее
          
            .block__info-card
              .block__card-img
                include ../components/icons/boy.svg
              .block__card-title
                span Абитуриентам
              .block__card-text
                .block__card-link 
                  a(href="#") Приемная комиссия
                .block__card-link 
                  a(href="#") Документы и справки
                .block__card-link 
                  a(href="#") Поступи онлайн
              a(href="#").block__card-button
                span Подробнее
          
  .l-container        
    section.news
      .block__news
        +title ('Новости')
        .block__news-main
          .block__news-left      
            .block__news-card            
              .block__news-img
                a(href="#")
                  picture
                    source(srcset="https://via.placeholder.com/140x155" media="(max-width: 414px)")
                    img(src="https://via.placeholder.com/620x290")
                .block__news__img-date
                  include ../../public/images/icons/calendar-detail_news.svg
                  span 01 июня, 2020
                  
              .block__news-title
                a(href="#") Итоги Международного конкурса «Надежда»
                
              .block__news-text
                span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие XII Международного музыкально-театрального конкурса-фестиваля «Надежда». На церемонии закрытия...
                .more
                  a(href="#") Подробнее1
                  include ../components/icons/dropdown-right.svg
                  
                
          .swiper-container-mobile__news
            .swiper-wrapper
              .swiper-slide
                .block__news-card
                  .block__news-img
                    a(href="#")
                      picture
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                    .block__news__img-date
                      include ../../public/images/icons/calendar-detail_news.svg
                      span 01 июня, 2020
                                
                  .block__news-title
                    a(href="#") Итоги Международного конкурса «Надежда»

              .swiper-slide
                .block__news-card
                  .block__news-img
                    a(href="#")
                      picture
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                    .block__news__img-date
                      include ../../public/images/icons/calendar-detail_news.svg
                      span 01 июня, 2020
                                
                  .block__news-title
                    a(href="#") Итоги Международного конкурса «Надежда»
              
              .swiper-slide
                .block__news-card
                  .block__news-img
                    a(href="#")
                      picture
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                    .block__news__img-date
                      include ../../public/images/icons/calendar-detail_news.svg
                      span 01 июня, 2020
                                
                  .block__news-title
                    a(href="#") Итоги Международного конкурса «Надежда»
                  
            .swiper-pagination
              
              
          .block__news-right
            .block__news-content
              .block__news-row
                .block__news__content-date
                  span 01 июня, 2020
                .block__news__content-title
                  a(href="#") Итоги Международного конкурса «Надежда»
                .block__news__content-text
                  span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
              .block__news-row
                .block__news__content-date
                  span 01 июня, 2020
                .block__news__content-title
                  a(href="#") Итоги Международного конкурса «Надежда»
                .block__news__content-text
                  span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
              .block__news-row
                .block__news__content-date
                  span 01 июня, 2020
                .block__news__content-title
                  a(href="#") Итоги Международного конкурса «Надежда»
                .block__news__content-text
                  span 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
  .l-container-bg                
    .l-container      
      section.ads
        .block__ads
          +title ('Объявления')
          .block__ads-main
            .block__ads__main-descr
              .block__ads__main-title Итоги Международного конкурса «Надежда»
              .block__ads__main-text 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие XII Международного музыкально-театрального конкурса-фестиваля «Надежда». На церемонии закрытия были объявлены имена лауреатов и дипломантов номинации...
              a.block__ads__main-button(href="#") Подробнее
              
            .block__ads__main-img
              a
                img(src="https://via.placeholder.com/420x375")
          
          .block__ads-row
              .block__ads-card
                .block__ads__card-img 
                  a
                    img(src="https://via.placeholder.com/410x200")
                .block__ads__card-descr 
                  a.block__ads__card-title Lorem ipsum dolor sit amet
                  .block__ads__card-text Lorem ipsum dolor ssit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              
              .block__ads-card
                .block__ads__card-img 
                  a
                    img(src="https://via.placeholder.com/410x200")
                .block__ads__card-descr
                  a.block__ads__card-title Lorem ipsum dolor sit amet
                  .block__ads__card-text Lorem idwadpsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            
              .block__ads-card
                .block__ads__card-img 
                  a
                    img(src="https://via.placeholder.com/410x200")
                .block__ads__card-descr
                  a.block__ads__card-title Lorem ipsum dolor sit amet
                  .block__ads__card-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          
          
          .block__ads-row-mobile
            .swiper-wrapper
              .swiper-slide
                .block__ads-card-mobile
                  .block__ads__card-img-mobile
                    a
                      picture
                        source(srcset="https://via.placeholder.com/410x292" media="(min-width: 960px)")
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                  .block__ads__card-descr-mobile 
                    a.block__ads__card-title-mobile Итоги Международного конкурса «Надежда»
                    .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            
              .swiper-slide
                .block__ads-card-mobile
                  .block__ads__card-img-mobile
                    a
                      picture
                        source(srcset="https://via.placeholder.com/410x292" media="(min-width: 960px)")
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                  .block__ads__card-descr-mobile 
                    a.block__ads__card-title-mobile Итоги Международного конкурса «Надежда»
                    .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              
              .swiper-slide
                .block__ads-card-mobile
                  .block__ads__card-img-mobile
                    a
                      picture
                        source(srcset="https://via.placeholder.com/410x292" media="(min-width: 960px)")
                        source(srcset="https://via.placeholder.com/140x155" media="(max-width: 480px)")
                        img(src="https://via.placeholder.com/620x290")
                  .block__ads__card-descr-mobile 
                    a.block__ads__card-title-mobile Итоги Международного конкурса «Надежда»
                    .block__ads__card-text-mobile Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
              
            .swiper-pagination
          
          .block__ads-link-mobile 
            a(href="#") Все объявления
              include ../components/icons/dropdown-right.svg
                         
                                        
          .block__ads-descr
            .block__ads__descr-title Высшая школа музыки Республики Саха (Якутия)
            .block__ads-descr-left
              .block__ads__descr-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              a.block__ads__descr-button(href="#") Узнать больше
            .block__ads-descr-right
              .block__ads__descr-img
                a
                  picture
                    source(srcset="https://via.placeholder.com/640x420" media="(min-width: 960px)")
                    source(srcset="https://via.placeholder.com/290x155" media="(max-width: 424px)")
                    img(src="https://via.placeholder.com/640x420")
          
            
      
      
      
