extends ../layouts/static.pug

block page-vars
  - var title = 'Итоги Международного конкурса «Надежда»';
  - var sidebar = true;

block page-content
  h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
  img(src="https://via.placeholder.com/910x350")
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .l-page-detail__news-footer
    .l-page-detail__news-row
      .l-page-detail__news-left
        include ../../public/images/icons/calendar-detail_news.svg
        span 01 июня, 2020
      .l-page-detail__news-right
        include ../../public/images/icons/printer.svg
        a.print(href="#") Распечатать
        
    .l-page-detail__news-row
      .l-page-detail__news-left
        include ../../public/images/icons/left-polygon.svg
        a(href="#") К списку новостей
      .l-page-detail__news-right
        a(href="#") #последниеновости
        a(href="#") #музыка
        a(href="#") #конкурснадежда
        
    .l-page-detail__news-send
      span Поделиться в социальных сетях:
      .social-icons
        a(href="#whatsapp") 
          img(src="/images/icons/whatsapp.svg" alt="printer-svg")
        a(href="#vk") 
          img(src="/images/icons/vk.svg" alt="printer-svg")
        a(href="#ondoklassniki") 
          img(src="/images/icons/ondoklassniki.svg" alt="printer-svg")
        a(href="#facebook") 
          img(src="/images/icons/facebook.svg" alt="printer-svg")
        a(href="#twitter") 
          img(src="/images/icons/twitter.svg" alt="printer-svg")
