extends ../layouts/static.pug
include ../components/mixins/mixin

block page-vars
  - var title = 'Руководство';
  - var sidebar = true;

block page-content
  h3 Lorem ipsum
  .l-leadership
    include ../components/leadership
    include ../components/leadership

  h3 Кафедр и отделений
  .l-leadership
    include ../components/leadership
    include ../components/leadership
