.l-address
  .l-address-icon
    include ./icons/address-location.svg
  .l-address-content
    .l-address-title 
      | г. Якутск,
      br
      | ш.Покровское, 16 км, д. 2
    ul.l-address-worktime
      li Пн - Пт: 9:00 до 20:00
      li Сб - Вс: 9:00 до 20:00
      li +7 (999) 999-99-99
