.l-breadcrumbs
  nav(role="navigation")
    ul.breadcrumbs
      li
        a(href="#") Главная
      li
        a(href="#") О ВУЗе
      li.disabled Документы
      
    ul.breadcrumbs-mobile
      li
        include ../../public/images/icons/dropdown-left.svg
        a(href="#") Назад
