article.l-article
  .l-article-date
    include ./icons/calendar-newslist.svg
    span 01 июня, 2020

  .l-article-picture
    a(href="#")
      img(src="https://via.placeholder.com/605x320")

  .l-article-content
    a.l-article-title(href="#") Итоги Международного конкурса «Надежда»
    .l-article-anounce 24 апреля в Сибирском государственном институте искусств имени Дмитрия Хворостовского состоялось Торжественное закрытие...
