article.l-article
  .l-article-picture
    a(href="#")
      img(src="https://via.placeholder.com/300x250")

    .l-article-counter
      .l-article-counter-items
        .l-article-counter-item
          include ./icons/gallery-photo.svg
          span 124
        .l-article-counter-item
          include ./icons/gallery-video.svg
          span 4

  .l-article-content
    a.l-article-title(href="#") Итоги Международного конкурса «Надежда»
    .l-article-date
      include ./icons/calendar-gallery.svg
      span 01 июня, 2020
