.l-commission-buttons
  a.l-commission-button(href="#") Поступление в школу
  a.l-commission-button(href="#") Бакалавриат
  a.l-commission-button(href="#") Специалитет
  a.l-commission-button(href="#") Поступление в школу
  a.l-commission-button(href="#") Бакалавриат
  a.l-commission-button(href="#") Специалитет
