.period-selector
    display: flex
    align-items: center
    &__label
        width: 224px
        flex-shrink: 0
        font-size: 14px
        line-height: 24px
        color: #3B3E4F

.vdp-datepicker
    &__calendar
        box-shadow: 0px 10px 30px rgba(48, 65, 150, 0.1)
        background: #ffffff
        border: 1px solid #EFF1F8 !important
        border-radius: 5px
        font-size: 14px
        padding: 24px 32px
        color: #9599AD
        // width: 400px !important
        .cell
            height: 32px !important
            line-height: 32px !important
            border-radius: 3px
            color: #9599AD
            // margin: 4px

            &.day-header
                font-size: 14px !important

            &.day
                // margin: 4px
                // border: 4px solid transparent


            &:not(.blank):not(.disabled).day:hover,
            &:not(.blank):not(.disabled).month:hover,
            &:not(.blank):not(.disabled).year:hover,
                border: 1px solid transparent !important
                background: #EFF1F8


            &.selected
                background: #304196 !important
                color: #fff

    .prev::after,
    .next::after
        content: none !important

    .next::before,
    .prev::before
        content: ''
        width: 20px
        height: 20px
        position: absolute
        top: 50%
        left: 50%
        margin-left: -10px
        margin-top: -10px
        background:
            image: url('../images/icons/arrow-gray.svg')
            position: center
            repeat: no-repeat
        transform: rotate(270deg)

    .prev::before
        transform: rotate(90deg)

.l-datepicker-button
  background: #076FCD
  border-radius: 10px
  cursor: pointer
  font-weight: normal
  font-size: 14px
  line-height: 14px
  color: #FFFFFF
  padding: 13px 26px
  transition: background-color .2s ease-out
  position: relative
  border: 1px solid #076FCD
  &:hover
    background: #ffffff
    border: 1px solid #076FCD
    color: #076FCD
  svg
    display: none

.period-selector__submit
  margin-left: -10px

.period-selector__datepickers
  flex-grow: 1
  width: 100%
  border: 1px solid #E4E6E9
  border-right: 0
  border-radius: 10px 0 0 10px
  display: flex
  align-items: center
  position: relative
  justify-content: flex-start

.period-selector__datepicker
  position: relative
  width: 160px
  flex-shrink: 0

  &::before
    content: ''
    position: absolute
    width: 20px
    height: 20px
    top: calc(50% - 10px)
    left: 20px
    background:
      image: url('../images/icons/calendar.svg')

  input
    width: 100%
    padding-left: 50px
    padding-right: 20px
    font-size: 14px
    color: #9599AD
    height: 38px
    border: none
    background: none
    margin-bottom: 0
    box-shadow: unset
    cursor: pointer
    &:focus
      outline: none
      box-shadow: unset
      border: 0
      border-radius: 12px
      background: transparent

.period-selector__separator
  position: absolute
  left: calc(50% - 25px)
  width: 30px
  height: 1px
  background: #E4E6E9

.vdp-datepicker__calendar:nth-of-type(2)
  left: -100%
