.table-scroll
  table.l-table
    tr
      th Пример таблицы excel
      td Где можно указать любую информация
    tr
      th Должность
      td Ректор
    tr
      th Lorem ipsum dolor
      td Lorem ipsum dolor
    tr
      th Lorem ipsum dolor
      td Lorem ipsum dolor
    tr
      th Lorem ipsum dolor
      td Lorem ipsum dolor
    tr
      th Lorem ipsum dolor
      td Lorem ipsum dolor
    tr
      th Lorem ipsum dolor
      td Lorem ipsum dolor
    tr
      th Lorem ipsum dolor
      td 4 года

p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
