include ./mixins/mixin

.l-documents
  ul.l-documents-list
    +file('Бланк заявления на бюджетную форму обучения', '/images/filetypes/doc.png')
    +file('Бланк заявления на бюджетную форму обучения', '/images/filetypes/doc.png')
    +file('Бланк заявления на бюджетную форму обучения', '/images/filetypes/pdf.png')
    +file('Бланк заявления на платную форму обучения', '/images/filetypes/doc.png')
    +file('Бланк заявления на платную форму обучения', '/images/filetypes/pdf.png')
