a.l-gallery-item-video(
  href="https://via.placeholder.com/600x500",
  data-fancybox="videos"
)
  img(src="https://via.placeholder.com/300x250")
  .l-gallery-item-video__play
    include ./icons/play.svg
  .l-gallery-item-video__title Lorem ipsum dolor sit amet, consectetur adipiscing elit, ...
