.l-gallery-item-video
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  position: relative
  &:hover .l-gallery-item-video__title
    color: #188ffb
  img
    height: 170px

.l-gallery-item-video__play
  position: absolute
  top: calc(50% - 60px)
  left: calc(50% - 30px)
  display: -webkit-flex
  display: -ms-flex
  display: flex

.l-gallery-item-video__title
  font-weight: 500
  font-size: 16px
  line-height: 20px
  color: #076FCD
  margin-top: 20px
  transition: .3s

@include tablet
  .l-page-content__inner
    .l-gallery-list
      grid-template-columns: 1fr 1fr 1fr 1fr
      .l-gallery-item-video
        img
          height: 120px
          max-width: none
          width: 100%
        .l-gallery-item-video__play
          position: absolute
          top: calc(50% - 70px)
          left: calc(50% - 30px)

@include mobile_tablet
  .l-gallery-item-video__title
    display: none
  .l-page-content__inner
    .l-gallery-list
      .l-gallery-item-video
        .l-gallery-item-video__play
          position: absolute
          top: calc(50% - 30px)
          left: calc(50% - 30px)

@include mobile
  .l-gallery-item-video__title
    display: none

  .l-page-content__inner
    .l-gallery-list
      .l-gallery-item-video
        .l-gallery-item-video__play
          position: absolute
          top: calc(50% - 30px)
          left: calc(50% - 30px)
  .l-page-content__inner
    .l-gallery-list
      grid-template-columns: 1fr 1fr
