.l-gallery-list
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery

include ./pagination
