.l-gallery-list
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery
  include ./card-gallery

.l-gallery-pagination
  include ./pagination
