.l-gallery-list
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
  grid-gap: 20px

  .l-article
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    border: 1px solid #F1F1F1
    border-radius: 10px
    overflow: hidden
    position: relative

  .l-article-date
    margin-top: 15px
    position: unset
    left: auto
    top: auto
    background: inherit
    border-radius: 10px 0px
    display: -webkit-flex
    display: -ms-flex
    display: flex
    align-items: center
    padding: 0
    font-weight: normal
    font-size: 14px
    line-height: 13px
    color: #828282
    span
      margin-left: 5px

  .l-article-picture
    display: -webkit-flex
    display: -ms-flex
    display: flex
    border-radius: 0 0 10px 10px
    position: relative
    a
      display: -webkit-flex
      display: -ms-flex
      display: flex
      flex: 1 1 100%

    img
      width: 100%
      height: 100%
      object-fit: cover

  .l-article-content
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: column
    margin: 10px

  .l-article-title
    font-weight: 500
    font-size: 16px
    line-height: 20px
    color: #076FCD

.l-article-counter
  position: absolute
  bottom: 30px
  left: 0
  display: -webkit-flex
  display: -ms-flex
  display: flex
  background: #076FCD
  border-radius: 0px 5px 5px 0px
  padding: 7px 10px

.l-article-counter-items
  display: -webkit-flex
  display: -ms-flex
  display: flex

.l-article-counter-item
  &+&
    margin-left: 10px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  span
    margin-left: 5px
    font-weight: normal
    font-size: 14px
    line-height: 14px
    color: #FFFFFF

@include mobile-tablet
  .l-page-content__inner
    .l-gallery-list
      grid-template-columns: 1fr 1fr 1fr
      .l-article-title
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #076fcd

@include mobile
  .l-page-content__inner
    .l-gallery-list
      grid-template-columns: repeat(auto-fill,minmax(140px,1fr))
      grid-gap: 10px
      justify-content: space-between

      article.l-article
        .l-article-picture
          a
            img
              height: 155px

      .l-article-counter
        bottom: 20px

      .l-article-title
        font-weight: bold
        font-size: 12px
        line-height: 140%

      .l-article-date
        font-size: 10px
        line-height: 10px
        display: -webkit-flex
        display: -ms-flex
        display: flex

  .l-timeline
    margin-bottom: 30px
