.l-container-banner
  width: 100%
  padding: 0
  margin: 0 auto
  position: absolute
  @media screen and (max-width: 1330px)
    margin: 0 auto
    width: 1290px
  section.banner
    margin-bottom: 80px
    .block__banner
      .banner-slider
        height: 500px
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .banner__slide
                position: relative
                img
                  height: 500px
                  width: 100%

                .banner__slide-title
                  span
                    position: absolute
                    left: 15%
                    top: 180px
                    font-weight: bold
                    font-size: 60px
                    line-height: 57px
                    color: #FFFFFF

                .banner__slide-descr
                  span
                    position: absolute
                    left: 15%
                    top: 242px
                    font-weight: normal
                    font-size: 18px
                    line-height: 17px
                    color: #FFFFFF

                a
                  .banner__slide-button
                    display: flex
                    justify-content: center
                    align-items: center
                    position: absolute
                    width: 200px
                    height: 50px
                    left: 15%
                    bottom: 170px
                    background: #076FCD
                    border-radius: 10px
                    font-weight: normal
                    font-size: 14px
                    line-height: 13px
                    color: #FFFFFF
                    transition: .3s
                  &:hover .banner__slide-button
                    background: #076FEE


.swiper-pagination
  display: flex
  align-items: center
  justify-content: center
  margin-bottom: 20px

  .swiper-pagination-bullet
    background: #FFFFFF
    opacity: 0.7

  .swiper-pagination-bullet-active
    background: #FFFFFF
    opacity: 1
    width: 10px
    height: 10px

.l-navigation.dropdown.menu
  li.opens-right
    .is-dropdown-submenu
      z-index: 10


section.info_cards
  margin-top: 580px
  .block__info
    padding-bottom: 80px

  .block__info-row
    display: flex
    justify-content: space-between

  .block__info-card
    background: #FFFFFF
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
    border-radius: 20px
    position: relative
    padding: 40px 30px 30px 30px
    display: flex
    flex-direction: column
    align-items: center
    max-width: 310px
    width: 100%
    height: 390px
    &::after
      content: ""
      position: absolute
      width: 100%
      height: 17px
      left: 0
      top: 0
      background: #076FCD
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
      border-top-left-radius: 20px
      border-top-right-radius: 20px

  .block__card-img
    svg
      g
        clip-path: url(../components/icons/)

  .block__card-title
    margin-top: 20px
    span
      font-weight: normal
      font-size: 30px
      line-height: 29px
      color: #002543

  .block__card-text
    margin-top: 20px
    display: flex
    flex-direction: column
    align-items: center
    .block__card-link
      text-align: center
      a
        font-weight: normal
        font-size: 17px
        line-height: 30px
        text-align: center
        color: #076FCD
        text-align: center

  .block__card-button
    margin-top: 20px
    max-width: 200px
    width: 100%
    height: 50px
    background: #076FCD
    border-radius: 10px
    display: flex
    justify-content: center
    align-items: center

    span
      font-weight: normal
      font-size: 14px
      line-height: 24px
      color: #FFFFFF

  .block__info-row-mobile
    display: none


  .block__info-row-mobile
    position: relative
    .swiper-wrapper
    .swiper-pagination
      margin: 0
      bottom: -30px
      left: 0

      .swiper-pagination-bullet
        background: #828282
        opacity: 0.7

      .swiper-pagination-bullet-active
        background: #828282



.block__news
  background: #FFFFFF
  padding-bottom: 60px

  .block__news-main
    display: flex
    justify-content: space-between
    margin-top: 40px

    .block__news-left
      width: 50%

      .block__news-card
        width: 640px
        height: 100%
        background: #FFFFFF
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
        border-radius: 20px
        padding: 10px

        .block__news-img
          position: relative
          a
            img
              border-radius: 10px

          .block__news__img-date
            position: absolute
            left: 0
            top: 0
            width: 201px
            height: 40px
            background: #076FCD
            border-radius: 10px 0px
            display: flex
            align-items: center
            justify-content: center
            span
              font-weight: normal
              font-size: 18px
              line-height: 17px
              color: #FFFFFF
            svg
              fill: white
              margin-right: 10px

        .block__news-title
          margin-left: 10px
          margin-top: 30px
          a
            font-weight: bold
            font-size: 20px
            line-height: 25px
            color: #076FCD

        .block__news-text
          margin-left: 10px
          margin-top: 10px
          padding-bottom: 60px
          span
            font-weight: normal
            font-size: 18px
            line-height: 30px
            color: #002543
          .more
            display: none


    .block__news-right
      margin-left: 20px

      .block__news-content
        display: flex
        flex-direction: column

        .block__news-row
          display: flex
          flex-direction: column
          padding-bottom: 40px
          border-bottom: 1px solid #CFCFCF
          margin-top: 40px
          &:first-child
            margin-top: 0
          &:last-child
            border-bottom: none

          .block__news__content-date
            margin-bottom: 20px
            span
              font-size: 18px
              line-height: 17px
              color: #828282

          .block__news__content-title
            margin-bottom: 10px
            a
              font-weight: bold
              font-size: 18px
              line-height: 25px
              color: #076FCD

          .block__news__content-text
            span
              font-size: 18px
              line-height: 30px
              color: #002543


      .block__news-right
        .block__news-content
          .block__news-row
            margin-top: 30px
            padding-bottom: 30px
            .block__news__content-date
              margin-bottom: 10px
              span
                font-size: 14px
            .block__news__content-title
              margin-bottom: 10px
              a
                font-size: 16px
                line-height: 25px
            .block__news__content-text
              span
                font-size: 14px
                line-height: 24px

.swiper-container-mobile__news
  display: none



.block__ads
  padding-top: 80px

.block__ads-top
  display: flex
  justify-content: space-between

.block__ads-title
  font-weight: bold
  font-size: 30px
  line-height: 30px
  color: #002543

.block__ads-link
  a
    font-weight: normal
    font-size: 16px
    line-height: 30px
    color: #076FCD
    svg
      margin-left: 5px

.block__ads-main
  position: relative
  margin-top: 40px
  background: #FFFFFF
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
  border-radius: 20px
  max-width: 1300px
  height: 375px
  display: flex
  &::after
    position: absolute
    content: ""
    width: 100%
    height: 17px
    background: #076FCD
    border-top-left-radius: 20px
    border-top-right-radius: 20px
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)

.block__ads__main-descr
  padding: 60px 40px 60px 40px
  max-width: 880px
  width: 100%

.block__ads__main-title
  font-weight: bold
  font-size: 30px
  line-height: 30px
  color: #076FCD

.block__ads__main-text
  margin-top: 20px
  font-weight: normal
  font-size: 18px
  line-height: 30px
  color: #002543

.block__ads__main-button
  width: 200px
  height: 50px
  background: #076FCD
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  font-size: 14px
  line-height: 24px
  text-align: center
  color: #FFFFFF
  margin-top: 45px
  transition: .3s
  &:hover
    background: #02447E
    color: white

.block__ads__main-img
  width: 420px
  height: 375px
  img
    border-bottom-right-radius: 20px
    border-top-right-radius: 20px
    max-width: 420px

.block__ads-row
  margin-top: 20px
  display: flex
  justify-content: space-between

.block__ads-card
  width: 420px
  height: 354px
  background: #FFFFFF
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1)
  border-radius: 20px
  padding: 10px

.block__ads__card-img
  a
    img
      border-radius: 10px


.block__ads__card-descr
  padding: 20px 10px 10px 10px

.block__ads__card-title
  font-weight: bold
  font-size: 18px
  line-height: 25px
  color: #076FCD

.block__ads__card-text
  margin-top: 10px
  font-weight: normal
  font-size: 14px
  line-height: 18px
  color: #002543

.block__ads-descr
  margin-top: 80px
  padding-bottom: 100px
  display: flex

.block__ads__descr-title
  font-family: Gotham Pro
  font-style: normal
  font-weight: normal
  font-size: 30px
  line-height: 35px
  color: #076FCD
  padding-right: 10px

.block__ads-descr-left
  padding-right: 110px

.block__ads__descr-text
  margin-top: 20px
  font-weight: normal
  font-size: 18px
  line-height: 30px
  color: #002543

.block__ads__descr-img
  width: 640px
  height: 422px
  img
    border-radius: 20px

.block__ads__descr-button
  display: flex
  justify-content: center
  align-items: center
  max-width: 200px
  height: 50px
  background: #076FCD
  border-radius: 10px
  font-weight: normal
  font-size: 14px
  line-height: 24px
  color: #FFFFFF
  margin-top: 40px
  transition: .3s
  &:hover
    background: #02447E
    color: white

.block__ads-link-mobile
  display: none

.block__ads-descr-mobile
  display: none

.block__ads-row-mobile
  display: none

@include tablet
  header
    display: none

  .l-container-banner
    width: 960px
    padding: 0

  .l-container
    max-width: none
    width: 960px
    padding: 0 15px
    margin: 0 auto
    section.info_cards
      .block__info
        padding: 80px 0px 80px 0px
        .block__info-row
          .block__info-card
            width: 205px
            padding: 40px 0px 20px 0px
            .block__card-img
            .block__card-title
              span
                font-weight: normal
                font-size: 20px
                line-height: 19px
            .block__card-text
              .block__card-link
                a
                  font-weight: normal
                  font-size: 14px
                  line-height: 24px
            a.block__card-button
              width: 166px
              span


    section.news
      .block__news
        padding: 80px 0px 80px 0px
        .block__news-main
          .block__news-left
            .block__news-card
              width: 430px
              height: 540px
              .block__news-title
                a
                  font-weight: bold
                  font-size: 16px
                  line-height: 25px
              .block__news-text
                span
                  font-size: 14px
                  line-height: 24px
                .more
                  display: flex
                  justify-content: flex-end
                  align-items: center
                  a
                    font-size: 16px
                    line-height: 30px
                    color: #076FCD
                  svg
                    margin-left: 10px

          .block__news-right
            .block__news-content
              .block__news-row
                padding-bottom: 30px
                margin-top: 30px
                &:first-child
                  margin-top: 0
                &:last-child
                  padding-bottom: 0

                .block__news__content-date
                  span
                    font-size: 14px
                    line-height: 13px

                .block__news__content-title
                  a
                    font-size: 16px
                    line-height: 25px

                .block__news__content-text
                  span
                    font-size: 14px
                    line-height: 24px


  section.news
  .block__ads
  .block__ads-main
  .block__ads__main-descr
    padding: 40px 30px 40px 30px
  .block__ads__main-title
    font-size: 20px
    line-height: 30px
  .block__ads__main-text
    font-size: 14px
    line-height: 24px
  a.block__ads__main-button
    margin-top: 25px

  .block__ads-row
    display: grid
    grid-template-columns: 430px 430px
    grid-template-rows: 354px
    justify-content: center
    grid-gap: 20px
  .block__ads-card
    width: 100%
    a
      img
        border-radius: 10px

  .block__ads-descr
    justify-content: space-between
  .block__ads-descr-left
    padding-right: 0
    margin-right: 20px

  .block__ads__descr-title
    font-size: 26px
    line-height: 35px

  .block__ads__descr-text
    font-size: 14px
    line-height: 24px

  a.block__ads__descr-button

  .block__ads-descr-right
  .block__ads__descr-img
    width: 430px


@include mobile_tablet
  .l-container-banner
    width: 768px
    padding: 0
    section.banner
      .block__banner
        .banner-slider
          height: 500px
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .banner__slide
                  position: relative
                  img
                    height: 500px
                    width: 100%

  .l-container
    width: 768px
    padding: 0px 30px 0px 30px
    section.info_cards
      .block__info
        padding: 80px 0px 80px 0px
        .block__info-row
          .block__info-card
            width: 165px
            height: 355px
            padding: 30px 0px 20px 0px
            position: relative
            .block__card-img
            .block__card-title
              margin-top: 10px
              span
                font-size: 18px
            .block__card-text
              margin-top: 10px
            a.block__card-button
              width: 130px
              margin: 0
              position: absolute
              bottom: 20px


    section.news
      .block__news
        padding: 80px 0px 80px 0px
        .block__news-main
          .block__news-right
            width: 255px


  section.ads
  .block__ads
  .block__ads-main
  .block__ads__main-descr
    position: relative
    padding: 30px 20px 30px 20px
  .block__ads__main-title
    font-size: 20px
    line-height: 24px
  .block__ads__main-text
    margin-top: 10px
    line-height: 18px
  a.block__ads__main-button
    margin-top: 0
    position: absolute
    bottom: 20px

  .block__ads-row
    display: grid
    grid-template-columns: 350px 430px
    grid-template-rows: 354px
    justify-content: flex-start
    grid-gap: 10px
  .block__ads-card
    width: 350px

  .block__ads-descr
    justify-content: space-between
    margin-top: 60px
  .block__ads-descr-left
    padding-right: 0
    margin-right: 10px

  .block__ads__descr-text
    margin-top: 10px

  a.block__ads__descr-button

  .block__ads-descr-right
  .block__ads__descr-img
    width: 400px

@include mobile

  .l-container-banner
    padding: 0
    max-width: 426px
    position: static
    section.banner
      .block__banner
        .banner-slider
          height: 320px
          .swiper-container
            .swiper-wrapper
              .swiper-slide
                .banner__slide
                  img
                    width: 100%
                    height: 320px
                  .banner__slide-title
                    span
                      font-size: 25px
                      line-height: 24px
                      top: 50px
                      left: 25%
                  .banner__slide-descr
                    span
                      font-size: 14px
                      line-height: 13px
                      top: 85px
                      left: 23%
                  a
                    .banner__slide-button
                      bottom: 70px
                      left: 25%


  .l-container
    width: 425px
    padding: 0px 15px 0px 15px
    section.info_cards
      margin-top: 0
      .block__info
        padding: 0px 0px 80px 0px
        .block__info-row
          display: grid
          grid-gap: 10px
          grid-template-columns: 180px 180px
          justify-content: center
          .block__info-card
            max-width: 180px
            width: 100%
            height: 180px
            padding: 25px 0px 10px 0px
            position: relative
            .block__card-img
              height: 70px
              svg
                width: 70px
                height: 70px
            .block__card-title
              margin-top: 0px
              span
                font-weight: bold
                font-size: 14px
                line-height: 13px
            .block__card-text
              display: none
            a.block__card-button
              width: 120px
              height: 40px
              margin: 0
              position: absolute
              bottom: 10px


  .l-container
    width: 425px
    padding: 0px 15px 0px 15px
    section.news
      .block__news
        padding: 80px 0px 80px 0px
        overflow: hidden
        .block__ads-top
          justify-content: center
          .block__ads-link
            display: none
        .block__news-main
          .block__news-left
            display: none
          .swiper-container-mobile__news
            position: relative
            width: 100%
            display: block
            .swiper-wrapper
              height: 217px
              .swiper-slide
                height: 217px
                .block__news-card
                  max-width: 180px
                  width: 100%
                  height: 250px
                  border: 1px solid #F1F1F1
                  box-sizing: border-box
                  border-radius: 10px
                  margin: 0 auto
                  position: relative
                  .block__news-img
                    a
                      img
                        border-radius: 10px
                        max-width: 180px
                        width: 100%
                    .block__news__img-date
                      position: absolute
                      left: 0
                      top: 0
                      width: 112px
                      height: 29px
                      background: #076FCD
                      border-radius: 10px 0px
                      display: flex
                      align-items: center
                      justify-content: center
                      span
                        font-weight: normal
                        font-size: 10px
                        line-height: 10px
                        color: #FFFFFF
                      svg
                        fill: white
                        margin-right: 5px
                        width: 13px
                        height: 13px
                  .block__news-title
                    padding: 10px
                    display: flex
                    a
                      font-weight: bold
                      font-size: 10px
                      line-height: 140%
                      color: #076FCD

            .swiper-pagination
              position: absolute
              bottom: -80px
              margin-bottom: 0

              .swiper-pagination-bullet
                background: #828282
                opacity: 0.7
              .swiper-pagination-bullet-active
                background: #828282

      .block__news-right
        display: none



    .block__ads
      .block__ads-top
        justify-content: center
        .block__ads-link
          display: none

    .block__ads-main
      display: none

    .block__ads-top
      justify-content: center

    .block__ads-link
      display: none

    .block__ads-row
      display: flex
      flex-direction: column

    .block__ads-descr
      display: none

    .block__ads-row
      display: none

    .block__ads-row-mobile
      margin-top: 40px
      display: block
      overflow: hidden
      position: relative
      padding-bottom: 40px

      .swiper-wrapper
        .swiper-slide
          width: 180px
          .block__ads-card-mobile
            border: 1px solid #F1F1F1
            box-sizing: border-box
            border-radius: 10px
            width: 180px
            margin: 0 auto
            height: 250px
            .block__ads__card-img-mobile
              a
                img
                  width: 180px
                  height: 100%
                  border-radius: 10px

            .block__ads__card-descr-mobile
              display: flex
              align-items: center
              flex-direction: column
              a.block__ads__card-title-mobile
                font-weight: bold
                font-size: 10px
                line-height: 140%
                color: #076FCD
                padding: 10px

              .block__ads__card-text-mobile
                display: none

      .swiper-pagination
        margin: 0
        bottom: 0

        .swiper-pagination-bullet
          background: #828282
          opacity: 0.7

        .swiper-pagination-bullet-active
          background: #828282


    .block__ads-link-mobile
      display: flex
      justify-content: center
      margin-top: 20px
      a
        font-weight: normal
        font-size: 16px
        line-height: 30px
        color: #076FCD
        svg
          margin-left: 5px

    .block__ads-descr-mobile
      margin-top: 60px
      margin-bottom: 61px
      display: block

    .block__ads-descr-left
      padding: 0
      text-align: left

    .block__ads__descr-title
      font-family: Gotham Pro
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 30px
      color: #076FCD

    .block__ads__descr-text
      font-size: 14px
      line-height: 24px
      color: #002543

    a.block__ads__descr-button
      margin-top: 20px
      width: 100%
      max-width: 100%

    .block__ads-descr-right

    .block__ads__descr-img
      margin-top: 20px
      height: auto
