section.l-index-cards
  .l-container 
    .info_cards
      .block__info
        .block__info-row
          .block__info-card
            .block__card-img
              include ../components/icons/boy.svg
            .block__card-title
              span Абитуриентам
            .block__card-text
              .block__card-link 
                a(href="#") Приемная комиссия
              .block__card-link 
                a(href="#") Документы и справки
              .block__card-link 
                a(href="#") Поступи онлайн
            a.block__card-button(href="#")
              span Подробнее

          .block__info-card
            .block__card-img
              include ../components/icons/graduated.svg
            .block__card-title
              span Студентам
            .block__card-text
              .block__card-link 
                a(href="#") Расписание
              .block__card-link 
                a(href="#") Электронные учебники
              .block__card-link 
                a(href="#") Студенческий совет
            a.block__card-button(href="#")
              span Подробнее

          .block__info-card
            .block__card-img
              include ../components/icons/boss.svg
            .block__card-title
              span Сотрудникам
            .block__card-text
              .block__card-link 
                a(href="#") Ученый совет
              .block__card-link 
                a(href="#") Повышение квалификации
              .block__card-link 
                a(href="#") Документы
            a.block__card-button(href="#")
              span Подробнее

          .block__info-card
            .block__card-img
              include ../components/icons/boy.svg
            .block__card-title
              span Абитуриентам
            .block__card-text
              .block__card-link 
                a(href="#") Приемная комиссия
              .block__card-link 
                a(href="#") Документы и справки
              .block__card-link 
                a(href="#") Поступи онлайн
            a.block__card-button(href="#")
              span Подробнее
