.l-leadership-item
  .l-leadership-item__image
    img(src="https://via.placeholder.com/300x350")
  .l-leadership-item__content
    .l-leadership-item-name Зайкова Надежда Михайловна
    .l-leadership-item-position Ректор
    .l-leadership-item-contacts
      .l-leadership-item-contacts__title Контактные данные:
      ul.l-leadership-item-contacts__list
        li
          a.l-contact-phone(href="#")
            include ./icons/telephone.svg
            span 8(4112)316-003
        li
          a.l-contact-email(href="#")
            include ./icons/mail.svg
            span vshkolamus@mail.ru
