ul.dropdown.menu.l-navigation(data-dropdown-menu)
  li
    a(href="#") О ВУЗе
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="page__basic-information.html") Сведения об образовательной организации
          li
            a(href="page__managment-structure.html") Структура управления образовательной организацией
          li
            a(href="page__documents.html") Документы
          li
            a(href="#") Образование
          li
            a(href="#") Образовательные стандарты
          li
            a(href="page__leadership.html") Руководство
          li
            a(href="#") Материально-техническое обеспечение и оснащенность образовательного процесса
          li
            a(href="#") Стипендии и иные виды материальной поддержки
          li
            a(href="#") Платные образовательные услуги
          li
            a(href="#") Финансово-хозяйственная деятельность
          li
            a(href="#") Вакантные места для приема (перевода)
          li
            a(href="#") Учебный процесс
          li
            a(href="#") Трудоустройство выпускников
          li
            a(href="#") Информация для инвалидов и лиц с ограниченными возможностями здоровья (ОВЗ)
          li
            a(href="#") Информация о среднемесячной заработной платы руководителей и их заместителей за 2020 год
          li
            a(href="page__news.html") Новости
          li
            a(href="#") Объявления
          li
            a(href="page__rectors-column.html") Колонка ректора
          li
            a(href="#") История
          li
            a(href="page__gallery.html") Галерея
          li
            a(href="#") Международное сотрудничество
  li
    a(href="#") Абитуриентам
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="page__reception.html") Поступи онлайн
          li
            a(href="page__commission.html") Приемная комиссия
          li
            a(href="#") Документы и справки
          li
            a(href="#") Информация о результатах приема
          li
            a(href="#") Галерея
  li
    a(href="#") Обучающимся
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="page__schedule.html") Расписание
          li
            a(href="#") Сетевой город (Школа)
          li
            a(href="#") Сетевой город (СПО)
          li
            a(href="page__books.html") Электронные учебники
          li
            a(href="#") Общежития и коттеджи
          li
            a(href="#") Студенческая газета «Музыкальные новости»
          li
            a(href="#") Научная библиотека
          li
            a(href="#") Правила внутреннего распорядка обучающихся
          li
            a(href="#") Научно-исследовательская и творческая работа студентов
          li
            a(href="#") Оказание помощи
          li
            a(href="#") Лауреаты и дипломанты международных конкурсов
          li
            a(href="#") Информация о переводе, восстановления и отчисления
  li
    a(href="#") Сотрудникам
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="#") Ученый совет
          li
            a(href="#") Повышение квалификации
          li
            a(href="#") Документы
          li
            a(href="#") Профком сотрудников
  li
    a(href="#") Обращения
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="#") Отправить письмо
          li
            a(href="#") Информация о рассмотрении обращений
  li
    a(href="page__contacts.html") Контакты
  li
    a(href="#") Коронавирус
    ul.menu
      .l-container
        .l-navigation__submenu
          li
            a(href="#") Информация
          li
            a(href="#") Документы
