.l-news-list
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(410px, 1fr))
  grid-gap: 30px

.l-article
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  border: 1px solid #F1F1F1
  border-radius: 10px
  overflow: hidden
  position: relative

.l-article-date
  position: absolute
  left: 0
  top: 0
  background: #076FCD
  border-radius: 10px 0px
  display: -webkit-flex
  display: -ms-flex
  display: flex
  align-items: center
  padding: 10px 20px
  font-weight: normal
  font-size: 18px
  line-height: 17px
  color: #FFFFFF
  span
    margin-left: 10px

.l-article-picture
  display: -webkit-flex
  display: -ms-flex
  display: flex
  border-radius: 0 0 10px 10px
  a
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex: 1 1 100%

  img
    width: 100%
    height: 100%
    object-fit: cover

.l-article-content
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column
  margin: 20px

.l-article-title
  font-weight: bold
  font-size: 18px
  line-height: 25px
  color: #076FCD

.l-article-anounce
  margin-top: 10px
  font-weight: normal
  font-size: 14px
  line-height: 24px
  color: #002543

@include tablet
  .l-news-list
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr))
    grid-gap: 20px
    .l-article-picture
      img
        max-height: 220px
        height: 100%

@include mobile-tablet
  .l-news-list
    display: grid
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr))
    grid-gap: 10px
    .l-article-picture
      img
        height: 215px


@include mobile
  .l-page-wrapper
    width: 100%

    .l-breadcrumbs
      nav
        .breadcrumbs
          display: none

        .breadcrumbs-mobile
          display: block
          list-style: none
          margin: 0
          li
            display: flex
            align-items: center
            svg
              display: block
              fill: #000000
              margin-right: 5px
            a
              font-size: 12px
              line-height: 11px
              color: #BDBDBD


    .l-page-content
      border-radius: 0
      box-shadow: none
      padding: 30px 0px
      position: relative
      &::before
        display: none
      &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 500px
        height: 2px
        background: #076FCD

      .l-page-header
        flex-direction: column

        .l-page-title
          font-size: 20px
          line-height: 28px
          margin-bottom: 20px

        .l-datepicker
          margin-bottom: 30px
          .period-selector
            .period-selector__submit
              .l-datepicker-button
                width: 40px
                height: 40px
                padding: 0
                svg
                  display: flex
                  position: absolute
                  left: 28%
                  top: 25%
                span
                  display: none
            .period-selector__datepickers
              justify-content: space-around
              .period-selector__datepicker
                width: 115px
                &::before
                  left: 10px
                input
                  padding-left: 40px


      .l-page-content__inner
        .l-news-list
          grid-template-columns: repeat(auto-fill,minmax(140px,1fr))
          grid-gap: 10px
          justify-content: space-between

          .l-article
            width: 100%

            .l-article-date
              font-size: 10px
              line-height: 10px
              padding: 8px 10px
              svg
                width: 13px
                height: 13px
              span
                margin-left: 5px

            .l-article-picture
              a
                img
                  height: 155px

            .l-article-content
              margin: 10px

              .l-article-title
                font-size: 10px
                line-height: 140%

              .l-article-anounce
                display: none
        .l-pagination
