.l-per-slide
  picture.l-per-slide-picture
    source(srcset="https://picsum.photos/960/500", media="(max-width: 960px)")
    source(srcset="https://picsum.photos/425/425", media="(max-width: 450px)")
    img(src="https://picsum.photos/1440/500")
  .l-per-slide-position
    .l-container.l-per-slide-content
      h2.l-per-slide-title Сетевой город
      p.l-per-slide-anonce Сетевой Город. Образование
      a.l-per-slide-link(href="#") Перейти на сайт
