.l-share
  display: -webkit-flex
  display: -ms-flex
  display: flex
  flex-direction: column

.l-share-title
  font-weight: normal
  font-size: 16px
  line-height: 19px
  color: #4F4F4F
  margin-bottom: 15px

.l-share-span
  display: flex
  a
    margin-right: 10px
    &:last-child
      margin-right: 0

@include mobile
  .l-share
    width: 100%
    align-items: center
