.l-share
  .l-share-title Поделиться в социальных сетях:
  .l-share-span
    a(href="#")
      include ../components/icons/social-wa.svg
    a(href="#")
      include ../components/icons/social-vk.svg
    a(href="#")
      include ../components/icons/social-ok.svg
    a(href="#")
      include ../components/icons/social-fb.svg
    a(href="#")
      include ../components/icons/social-tw.svg
