.l-page-sidebar
  ul.l-sidebar-navigation
    li.l-sidebar-item.is-active
      a.l-sidebar-item__link(href="#") Основные сведения
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Структура управления образовательной организацией
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Документы
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Образование
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Образовательные стандарты
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Руководство
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Материально-техническое обеспечение и оснащенность образовательного процесса
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Стипендии и иные виды материальной поддержки
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Платные образовательные услуги
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Финансово-хозяйственная деятельность
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Вакантные места для приема (перевода)
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Учебный процесс
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Трудоустройство выпускников
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Информация для инвалидов и лиц с ограниченными возможностями здоровья (ОВЗ)
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Информация о среднемесячной заработной платы руководителей и их заместителей за 2020 г
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Новости
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Колонка ректора
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") История
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Галерея
    li.l-sidebar-item
      a.l-sidebar-item__link(href="#") Международное сотрудничество
