section.l-slider
  .swiper-container.l-slider-main
    .swiper-wrapper
      .swiper-slide
        include ./per-slide
      .swiper-slide 
        include ./per-slide
      .swiper-slide 
        include ./per-slide
      .swiper-slide 
        include ./per-slide
    .swiper-pagination
