.l-structure
  ul.l-structure-list
    li
      a(href="#") Ректорат
    li
      a(href="#") Ученый совет
    li
      a(href="#") Высшее образование
      ul.l-structure-sublist
        li
          a(href="#") Кафедра специального фортепиано
        li
          a(href="#") Кафедра концертных струнных инструментов
        li
          a(href="#") Кафедра концертных духовых и ударных инструментов
        li
          a(href="#") Кафедра академического пения и оперной подготовки
        li
          a(href="#") Кафедра теории и истории музыки
        li
          a(href="#") Кафедра камерного ансамбля и концертмейстерского мастерства
        li
          a(href="#") Кафедра общего и специализированного фортепиано
        li
          a(href="#") Кафедра общегуманитарных и социально — экономических дисциплин
    li
      a(href="#") Среднее профессиональное образование
      ul.l-structure-sublist
        li
          a(href="#") Отделение специального фортепиано
        li
          a(href="#") Отделение оркестровых струнных инструментов
        li
          a(href="#") Отделение оркестровых духовых и ударных инструментов
        li
          a(href="#") Отделение теории музыки
        li
          a(href="#") Отделение камерного ансамбля и концертмейстерского мастерства
        li
          a(href="#") Отделение общего фортепиано
    li
      a(href="#") Научно — методический центр «Музыка для всех»
    li
      a(href="#") Отдел по творческой и концертной работе
    li
      a(href="#") Отдел музыкальных инструментов
    li
      a(href="#") Научная библиотека
    li
      a(href="#") Научная лаборатория
    li
      a(href="#") Общеобразовательная школа
    li
      a(href="#") Отдел по воспитательной работе
    li
      a(href="#") Административно-хозяйственная часть
      ul.l-structure-sublist
        li
          a(href="#") Отдел анализа, контроля и мониторинга
        li
          a(href="#") Служба управления персоналом
        li
          a(href="#") Инженерно — техническая служба
        li
          a(href="#") Инженерно — технический пункт
        li
          a(href="#") Медицинский пункт
        li
          a(href="#") Столовая
        li
          a(href="#") Гараж
